### Core Dependencies ###
networkx>=3.0
docling[vlm]
pydantic
pymupdf
pandas
mypy

### Visualization Libraries ###
matplotlib>=3.7..0
cosmograph

### CLI Libraries ###
typer[all]
dotenv
rich

### Notebook & Utility Libraries ###
notebook
ipython


### Local LLM Providers ###
ollama

### API Providers ###
mistralai
openai
# ibm-watson-machine-learning
# google-genai
# google